<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/expense.css">

</head>

<body>
    <!-- <button id="logoutBtn">Logout</button> -->
     <nav class="navbar">
    <div class="nav-left">
        <span class="logo">💸 Expense Tracker</span>
    </div>

    <div class="nav-right">
        <button id="logoutBtn">Logout</button>
    </div>
</nav>


    <form action="">
        <label for="expense_amount">Choose Expense Amount:</label>
        <input type="number" name="expense_amount" id="expense_amount">
        <label for="expense_description">Expense Description:</label>
        <input type="text" name="expense_description" id="expense_description">
        <label for="note">Note:</label>
        <input type="text" name="note" id="note">

        <button type="submit" id="submit_expense">Submit Expense</button>
    </form>
    <p id="premiumTitle">You are a premium user <button id="leaderBoard">Show leader board</button><button><a
                href="../views/report.html">Show report</a></button><button id="downloadBtn">Download Expenses</button>
    </p>
    <div style="margin-bottom: 10px;">
        <label for="pageSize">Expenses per page:</label>
        <select id="pageSize">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="40">40</option>
        </select>
    </div>


    <ul id="expense_list">

    </ul>
    <div id="pagination"></div>

    <ul id="leaderBoardList">

    </ul>

    <button id="premiumBtn"><a href="../views/pay.html">Buy Premium Membership</a></button>
    <script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../scripts/expense.js"></script>
</body>

</html>