<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/forgot.css">

</head>

<body>
    <form id="forgotForm">
        <input type="email" id="email" placeholder="Enter email" required />
        <button>Send reset link</button>
    </form>

    <script>
        const baseUrl = 'https://exams-forget-eval-builder.trycloudflare.com';
        document.getElementById("forgotForm").onsubmit = async (e) => {
            e.preventDefault();
            const email = document.getElementById("email").value;

            await fetch(`${baseUrl}/user/forgot-password`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email })
            });

            alert("Check your email");
        };
    </script>
</body>

</html>